<% provide(:title, "jQuery Client") %>
<h1>Frontend 1</h1>
<p>
  This page shows how you can access JSON Data produced
  by the existing rails controllers:

  <ul>
    <li>Load one users data from <a href="/users/1.json">/users/1.json</a></li>
    <li>Load list of users from <a href="/users.json">/users.json</a></li>
  </ul>
</p> 

<script>
$(document).ready(function() {
    $.ajax({
        url: '/users/1',
        dataType: 'json'
    }).then(function(response) {
       $('#the_user .name').html(response.name);
       $('#the_user .email').html(response.email);
    }).fail(function() {
       $('#the_user').html("Data could not be loaded.")
    });
});

$(document).ready(function(){
    $.fn.dataTable.ext.errMode = 'none';
    $('#user_table').on( 'error.dt', function ( e, settings, techNote, message ) {
        console.log( 'An error has been reported by DataTables: ', message );
        $('#user_table .dataTables_empty').html('Data could not be loaded.');
    }).DataTable({
      "paging"    : false,
      "ajax"       : { 
        "url": "/users.json",
         "dataSrc": ''
      },
      "order": [[ 1, 'asc' ]],
      "columns"    : [ 
            {
                data: null,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false
            },      
            { data: "id" }, 
            { data: "name" }, 
            { data: "email" }
      ], 
      "select": {
                style:    'os',
                selector: 'td:first-child'
      },
      buttons: {
          buttons: [
              'copy',
              {
                  text: 'My button',
                  action: function ( dt ) {
                      console.log( 'My custom button!' );
                  }
              }
          ]
      }        
    });
});
</script>

<h3>One User</h3>
<p id="the_user">
  Name: <span class="name"></span>, E-Mail: <span class="email"></span>
</p>

<h3>All Users</h3>

<table id="user_table" class="display">
    <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>Name</th>
            <th>E-Mail</th>
        </tr>
    </thead>
</table>