<% provide(:title, "jQuery Client") %>
<h1>Frontend 1</h1>
<p>
  This page shows how you can access the separate api.
  The API offers jsonapi style data.</p>

  <ul>
    <li>Load one users data from <a href="/api/v1/users/1">/api/v1/users/1</a></li>
    <li>Load list of users from <a href="/api/v1/users/">/api/v1/users/</a></li>
  </ul>
</p> 

<script>
$(document).ready(function() {
    $.ajax({
        url: '/api/v1/users/1',
        dataType: 'json'
    }).then(function(response) {
      console.log(response)
       $('#the_user .name').html(response.data.attributes.name);
       $('#the_user .email').html(response.data.attributes.email);
    }).fail(function() {
       $('#the_user').html("Data for user could not be loaded.")
    });
});

$(document).ready(function(){
    $.fn.dataTable.ext.errMode = 'none';
    $('#user_table').on( 'error.dt', function ( e, settings, techNote, message ) {
        console.log( 'An error has been reported by DataTables: ', message );
        $('#user_table .dataTables_empty').html('Data could not be loaded.');
    }).DataTable({
      "dom": 'Bfrtip',
      "paging"    : false,
      "ajax"       : "/api/v1/users",
      "order": [[ 1, 'asc' ]],      
      "columns"    : [ 
            {
                data: null,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false
            },           
            { data: "id" }, 
            { data: "attributes.name" }, 
            { data: "attributes.email" }
      ], 
      "select": {
              style:    'os',
              selector: 'td:first-child'
      },
      buttons: {
          buttons: [
              'copy',
              {
                  text: 'Delete',
                  action: function ( e ) {
                      var table = $('#user_table').DataTable();
                      var data = table.row( { selected: true } ).data();
                      var id = data.id;
                      console.log('I should delete user with id ' + id);
                  }
              }
          ]
      }    
    });
});
</script>

<h3>One User</h3>
<p id="the_user">
  Name: <span class="name"></span>, E-Mail: <span class="email"></span>
</p>

<h3>All Users</h3>
<table id="user_table" class="display">
    <thead>
        <tr>
            <th>x</th>
            <th>id</th>
            <th>Name</th>
            <th>E-Mail</th>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>Row 1 Data 1</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
        </tr>
    </tbody>
</table>