<footer class="footer">
  <small>
    <a href="https://github.com/backend-development/api_sample_app">example app 
    for learning about APIs</a>, 
    based on the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a> and
    the <a href="https://github.com/vasilakisfil/rails5_api_tutorial">rails 5 api tutorial</a>
     by  Filippos Vasilakis
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>